# Composer
/vendor/
/composer.phar

# Node, bower, sass
/node_modules/
/bower_components/
/.sass-cache/

# Public files
/public/assets/*.js
/public/assets/*.css
/public/fonts/*

# Local settings
/src/settings-local.php

# Runtime and temp
/temp/
/runtime/
