{% set class = 'carousel-narrow' %}

{% extends 'base.twig' %}

{% set title = 'Карта' %}

{% block content %}
    {% include 'components/header.twig' %}

    <div class="container content">
        <p>Встраивание карты в сайт не работает в связи с техническими проблемами.</p>
        <p>Карта доступна по адресу <a href="http://play.bbyaworld.com:28565/">http://play.bbyaworld.com:28565/</a>.</p>
        <p>Приносим свои извинения.</p>
    </div>
{% endblock %}
