{% set class = 'carousel-narrow' %}
{% set title = 'Советы начинающим игрокам' %}

{% extends 'base.twig' %}

{% block content %}
    {% include 'components/header.twig' %}

    <div class="container content">
        <h1>{{ title }}</h1>

        <p>Все помнят свой первый вход на сервер? Сразу в голове: Что делать? Куда бежать? Почему я не могу ломать блоки? В этой статье наши игроки постараются помочь начинающим разобраться с основами игры на сервере.</p>

        <ol>
            <li>
                <p>Создайте у себя на компьютере закладку сайта нашего сервера: <a href="http://bbyaworld.com">http://bbyaworld.com</a>.</p>
                <p>Внимательно прочтите правила игры на сервере.</p>
                <p>Незнание правил не освобождает от ответственности!</p>
            </li>
            <li>
                <p>Этот замечательный сервер имеет <a href="http://www.bbyaworld.com/map.php">карту мира</a>, которую вы можете лицезреть и выбрать себе край обетованный.</p>
                <p>Почти по всему миру есть дороги. Чтобы добраться до выбранного места, лучше воспользоваться ими, так как это намного безопаснее, пусть иногда и длиннее. Они освещены: хоть мобы туда и приходят, но всё же не в том количестве, что в неосвещённых местах + удобнее бежать. Можно также передвигаться через Ад - система порталов очень разветвлённая, но часто порталы ведут на частную территорию с сигнализацией и прочими неприятностями. Если на портале не написано "Банк", "Квест", "Входите, кто хочет" или что-то вроде, то лучше не соваться, иначе существует огромная вероятность сразу <a href="http://forum.bbyaworld.com/index.php?/topic/8-%D1%82%D1%8E%D1%80%D1%8C%D0%BC%D0%B0-%E2%84%963/">попасть в тюрьму</a>. На крайний случай спрашивайте у "старших товарищей".</p>
            </li>
            <li>
                <p>Зайдя на сервер, вы появитесь на спавне, но ломать блоки вблизи спавна не сможете (отойдите на 500 блоков и сможете). Ваш ник при нажатии клавиши "Тab" в списке игроков онлайн будет перечёркнут. Это значит, что вы новичок на сервере, и, пока не получите статус игрока сервера, на Вас наложены небольшие ограничения (но только в центре карты). Для получения статуса игрока сервера Вам необходимо написать заявку на форуме <a href="http://forum.bbyaworld.com/index.php?/topic/2-bbya-world-1102-%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D1%8F-%D0%BE-%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80%D0%B5-%D0%B8-%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%B8%D0%B3%D1%80%D1%8B/">в специальной теме</a>.</p>
                <p>Запрещено:</p>
                <ul>
                    <li>PvP в обычном мире</li>
                    <li>Ломать чужие постройки</li>
                    <li>Заходить на территории других игроков (отмечены оранжевым на карте)</li>
                </ul>
                <p>Также нельзя лазить по чужим сундукам и заходить в чужие постройки без разрешения хозяина, так как существует огромная вероятность сразу попасть в тюрьму. Если же вы всё-таки оказались в тюрьме, то <a href="http://forum.bbyaworld.com/index.php?/topic/8-%D1%82%D1%8E%D1%80%D1%8C%D0%BC%D0%B0-%E2%84%963/">напишите в специальную тему подробности случившегося</a>. В этой теме решаются все проблемы заключенных, и это ваш последний шанс исправиться и снова вернуться к нормальной жизни.</p>
            </li>
            <li>
                <p>Поиграв на сервере 14 дней и написав на форуме не менее 15 сообщений, вы автоматически получите гражданство, о чём свидетельствует подпись под аватаркой - "Граждане". Это существенно расширит ваши права на сервере и даст вам право вступить в какой-нибудь клан, например, <a href="http://forum.bbyaworld.com/index.php?/topic/484-%D0%BA%D0%BB%D0%B0%D0%BD-%D0%B4%D1%80%D1%83%D0%B6%D0%B8%D0%BD%D0%B0/">в клан автора этого текста</a>.
                </p>
            </li>
            <li>
                <p>Один раз в день на форуме вы можете поднять рейтинг какого нибудь понравившегося Вам сообщения или опустить не понравившееся, но только раз в день. Не торопитесь. Ваше отношение даст знать другим игрокам о пользе этого сообщения, если рейтинг положительный и, соответственно, о его вреде, если рейтинг отрицательный.</p>
            </li>
            <li>
                <p>Рекомендуем отписаться <a href="http://forum.bbyaworld.com/index.php?/topic/18-%D1%81%D1%83%D0%BD%D0%B4%D1%83%D0%BA%D0%B8-%D0%BD%D0%B0-%D1%81%D0%BF%D0%B0%D1%83%D0%BD%D0%B5-%D0%B8-%D0%B2%D1%8B%D0%B4%D0%B0%D1%87%D0%B0-%D0%B1%D0%BE%D0%BD%D1%83%D1%81%D0%BE%D0%B2%D1%81%D1%82%D0%B0%D1%80%D1%82-%D0%B0%D0%BF%D0%BE%D0%B2/">в специальной теме</a> для получения своей ячейки с первым бесплатным сундуком (последующие сундуки в ячейке платные), в которую кроме вас никто не попадет. Там можно складывать самое ценное, а так же сдавать ресурсы на Гос.заказ или производить оплату за что нибудь серверу через эти сундуки. Также вы получите "старт-ап", который выдаётся автоматически в сундук Края (сразу после добавления к игровому процессу при одобрении заявки), в котором будет:</p>
                <ul>
                    <li>50 дополнительных одноразовых неизлечимых сердец (<a href="http://forum.bbyaworld.com/index.php?/topic/161-%D0%B0%D0%BF%D1%82%D0%B5%D1%87%D0%BD%D1%8B%D0%B9-%D0%BF%D1%83%D0%BD%D0%BA%D1%82/">как в аптечном пункте</a>)</li>
                    <li>16 батонов хлеба</li>
                    <li>8 зелий мгновенного лечения</li>
                    <li>Комплект кожаной брони ("Защита IV", "Неразрушимость III", "Невесомость IV")</li>
                    <li>25 бонусных балов (в простонародье можно встретить аббревиатуру "ББ")</li>
                    <li>500 изумрудов</li>
                </ul>
                <p>Также рекомендуем <a href="http://monitoringminecraft.ru/server/102457">оставить свой отзыв на мониторинге серверов</a> о нашем сервере, где не забудьте указать свой игровой ник. Затем отпишитесь о том, что вы оставили отзыв, на форуме <a href="http://forum.bbyaworld.com/index.php?/topic/163-%D0%BF%D0%BE%D0%B4%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0/">в специальной теме</a>, за что получите 64 алмаза.</p>
                <p>На сервере отсутствует естественная регенерация здоровья (всё как в жизни), а также усилены мобы по ночам = ТРУ ХАРДКОР.<p>
            </li>
            <li>
                <p> Теперь об экономике сервера. У каждого игрока есть счет, который в начале игры равен нулю. Основная валюта на сервере &mdash; изумруды (в простонародье "изюм"), которые можно сложить в изумрудные блоки (встречаются аббревиатуры "ИБ" и "БИ"). В здании торговли вы можете класть на счет изюм и снимать его со счета.</p>
                <p>На момент написания статьи на сервере нет жителей торговцев, которые делались из зомби-жителей посредством зелья слабости и золотого яблока. Так что не тратьте время на их создание. Не получится.</p>
            </li>
            <li>
                <p>Самый простой способ заработать изюм &mdash; это сдавать ресурсы. Например: строительные и декоративные блоки для постройки общественных построек <a href="http://forum.bbyaworld.com/index.php?/forum/50-%D0%B3%D0%BE%D1%81%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7/">по гос. заказу</a>. Ресурсы складывайте стаками (64 чего-нибудь = стак), кладёте в свои сундуки на спавне, через которые и происходит обмен с сервером. Также вы можете поймать в игре игроков Торговцев (в игре есть <a href="http://forum.bbyaworld.com/index.php?/forum/71-%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%B8-%D0%B8-%D0%BD%D0%B0%D0%B2%D1%8B%D0%BA%D0%B8/">профессии и навыки</a>), договорившись с которыми вы можете сдать ресурсы по гос.заказу чуть выгоднее. Но есть подводные камни: пока ждёте торговцев, необходимое количество ресурсов может сдать кто-нибудь другой, а также у торговца в ячейке на спавне может не хватить места и он будет ждать, пока оно не освободится. Опять же в это время ресурсы может сдать кто-то другой. Также можно продавать вещи и строительные блоки игрокам, кланам.</p>
            </li>
            <li>
                <p>Можно сдавать "шлак" (никому не нужный шлак &mdash; это то, что можно много достать и некуда девать) в здании торговли у спавна. Правда цена за стак &mdash; всего один изумруд. Не рекомендуем сдавать невозобновляемые ресурсы на шлак, так как это нецелесообразно, можно продать дороже по гос.заказу или другим игрокам.</p>
            </li>
            <li>
                <p>На сервере существует возможность выполнять всевозможные квесты и участвовать в ивентах (соревнованиях). Подробнее <a href="http://forum.bbyaworld.com/index.php?/forum/49-%D0%BA%D0%B2%D0%B5%D1%81%D1%82%D1%8B-%D0%B8-%D0%B8%D0%B2%D0%B5%D0%BD%D1%82%D1%8B/">в соответствующем разделе</a>.</p>
            </li>
            <li>
                <p>На сервере существует <a href="http://forum.bbyaworld.com/index.php?/forum/71-%D0%BF%D1%80%D0%BE%D1%84%D0%B5%D1%81%D1%81%D0%B8%D0%B8-%D0%B8-%D0%BD%D0%B0%D0%B2%D1%8B%D0%BA%D0%B8/">огромный выбор гильдий</a>. Каждая профессия дает свои плюшки, но и минусы присутствуют, поэтому тщательно проанализируйте свой стиль игры и выбирайте.</p>
            </li>
        </ol>
        <small>Автор текста &mdash; <a href="http://forum.bbyaworld.com/index.php?/profile/33185-ahnaton/">Ahnaton</a></small>
    </div>

    {% include 'components/footer.twig' %}
{% endblock %}
