{% set class = 'carousel-narrow' %}
{% set title = 'Свод законов или правила игры на нашем сервере' %}

{% extends 'base.twig' %}

{% block content %}
    {% include 'components/header.twig' %}

    <div class="container content rules">
        <h1>{{ title }}</h1>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#common" aria-expanded="false" aria-controls="common">
                        Общие положения
                        </a>
                    </h4>
                </div>
                <div id="common" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Общие положения">
                    <div class="panel-body">
                        <p>BBya World - это, действительно, достаточно спокойный и надежный сервер с уклоном в творчество и изобретательность. При этом, мы стараемся не отходить от основных идей разработчиков игры, а свобода ваших действий не ограничена практически ничем - только вашей фантазией и смекалкой. Можно с уверенностью сказать, что на данном сервере никогда не будет "лишних" плагинов, но игровой процесс будет чуть более интересен, чем на других серверах. Приглашаем всех счастливых обладателей лицензии майнкрафт!</p>
                        <p>Наша основная цель это: комфортная игра, минимум ограничений и постоянное развитие! BBya World - мир для тех, кто хочет строить!</p>
                        <ol>
                            <li><h3>Мы всегда рады:</h3>
                                <ul>
                                    <li>Адекватным и энергичным игрокам</li>
                                    <li>Безудержному стремлению к красоте, порядку и совершенству</li>
                                    <li>Неуёмной творческой мысли и бесконечному изобретательству</li>
                                    <li>Здоровой конкуренции (<a href="http://qps.ru/TYG3K">для размышления</a>);</li>
                                    <li>Конструктивному общению</li>
                                    <li>Новым идеям и постоянному развитию</li>
                                </ul>
                            </li>
                            <li><h3>На нашем сервере не запрещены, но дьявольски неприветствуются:</h3>
                                <ul>
                                    <li><a href="http://qps.ru/1ulve">PvP</a></li>
                                    <li><a href="http://qps.ru/KIxgB">Лут</a>, полученный в следствие умышленного или непреднамеренного убийства другого игрока</li>
                                    <li><a href="http://qps.ru/Gz63N">Ложь и/или обман</a>, <a href="http://qps.ru/eQhn9">мошенничество</a></li>
                                    <li>Порча/изменение <a href="http://qps.ru/L7Dnd">ландшафта</a> без очень убедительных причин (на усмотрение оч. адекватной администрации)</li>
                                    <li>Отдельно: строительство "столбиков" для осмотра территории и неполная вырубка деревьев</li>
                                    <li>Нахождение в игре и полное <a href="http://qps.ru/hOeJL">бездействие</a> в течение длительного времени</li>
                                </ul>
                            </li>
                            <li><h3>На нашем сервере запрещено (бан):</h3>
                                <ul>
                                    <li>Уничтожать, портить и вообще трогать любые постройки (и другие значения/синонимы этого слова во всем возможном многообразии) других игроков, заходить на их территорию без обсуждения таких действий на форуме и неопровержимого согласия владельца</li>
                                    <li><a href="http://qps.ru/AvB6P">Читерство</a> (и другие значения/синонимы этого слова во всем возможном многообразии и неопределенности)</li>
                                    <li><a href="http://qps.ru/zSE7v">Использование ботов</a></li>
                                    <li>Дублирование и/или генерация предметов (кроме случаев использования схем из красного камня)</li>
                                    <li>Играть с никами в виде адресов электронной почты или использующими нецензурные слова</li>
                                </ul>
                            </li>
                            <li><h3>Решение спорных ситуаций:</h3>
                                <ul>
                                    <li>Если возникает спорная ситуация, ее всегда необходимо решать! Чем быстрее это произойдет, тем лучше будет для всех и каждого в отдельности.</li>
                                    <li>Для скорейшего решения любой проблемы рекомендуется задать вопрос по этой теме или обсудить наболевшее в соответствующих разделах форума.</li>
                                    <li>В особых, редких случаях можно пользоваться системой <a href="http://mc.bbcity.ru/messages.php?action=new&uid=2">ЛС</a>; однако не стоит этим злоупотреблять и секретничать - каждый может и должен принимать участие в решении возникающих проблем.</li>
                                </ul>
                            </li>
                            <li><h3>Обязательства игроков:</h3>
                                <ul>
                                    <li>Самостоятельно следить за сохранностью своего имущества (денег, предметов, ценностей; но не построек), находящегося в незащищённых сундуках, т.к. доступ к этим сундукам имеет любой игрок; если вы хотите защитить своё имущество, необходимо приобретать защищённые сундуки. Например, их можно <a href="http://mc.bbcity.ru/viewtopic.php?id=167">купить на спауне</a>; также можно строить полностью закрытые админиумовые комнаты и телепортировать туда только владельца.</li>
                                    <li>Нести полную и безоговорочную ответственность за последствия, вызванные модификацией клиента игры (<a href="http://mc.bbcity.ru/viewtopic.php?id=316&amp;p=8#p8462">пример</a>)</li>
                                    <li>Право собственности на нашем сервере носит уведомительный характер (в пределах разумного, на усмотрение администрации), поэтому необходимо сообщить о занимаемой территории <a href="http://mc.bbcity.ru/viewtopic.php?id=160">в специальной теме</a></li>
                                    <li>Самостоятельно русифицировать клиент игры любыми способами (например, <a href="http://mc.bbcity.ru/viewtopic.php?id=253">тут можно задать вопросы по русификации</a>) так, чтобы в игре, на карте и в консоли сервера были видны русские символы</li>
                                    <li>Обращаться к администрации только в открытую, через форум, в соответствующих темах (особенно это касается всех заказов за ББ)</li>
                                    <li>Для всех: подать заявку в теме "Геополитика" со скрином с карты, на котором будет примерно обведена желаемая территория + в течение 7 дней оградить её забором с предупреждающими табличками</li>
                                    <li>Для граждан, дополнительно: в течение 14 дней подать заявку на отметку территории</li>
                                </ul>
                            </li>
                            <li><h3>Некоторые ограничения:</h3>
                                <ul>
                                    <li>Запрещена застройка/повреждение заповедников (отмечены на <a href="http://qps.ru/SrVwA">Dynmap</a>) и водных пространств (только в исключительных случаях, если вы собираетесь построить нечто феерическое, разрешение на такую стройку можно получить с одобрения администрации после обсуждения на форуме с другими игроками)</li>
                                    <li>Прежде, чем начать строительство под водной поверхностью, необходимо обсудить эту стройку на форуме</li>
                                    <li>Игрокам из PvP-гильдий в обычном мире запрещено (в Аду и Крае можно) нападать на игроков из не-PvP-гильдий или вообще не из гильдий (при этом на игрока из PvP-гильдии может напасть любой игрок, за что может получить по башке от прокаченного PvP-шника)</li>
                                    <li>При поставке ресурсов по гос.заказу, в спорных ситуациях, когда сообщение второго игрока было сделано раньше редактирования сообщения первым, спорные ресурсы первого игрока не учитываются (то же касается и редактирования любых других сообщений в спорных ситуациях при поставках ресурсов)</li>
                                    <li>временно запрещено переносить в инвентаре жемчуг Края в районе спауна</li>
                                    <li>Запрещены автоприветствия для уменьшения флуда в чате</li>
                                    <li>Запрещено использование RadarBro</li>
                                    <li>Запрещено подключать генераторы к командным блокам (генератором считается что угодно, подающее сигнал на командный блок чаще одного раза в 10 минут)</li>
                                    <li>Запрещено ставить порталы в ад в приватных квартирах: портал должен быть единым для всех в фойе здания</li>
                                    <li>При внесении пожертвования можно перечислять ББ любым игрокам в любых пропорциях, а на родственников (жёны/мужья, дети, братья/сёстры) можно тратить ББ со своего счёта в любое удобное время</li>
                                </ul>
                            </li>
                            <li><h3>Мультиаккаунты:</h3>
                                <ul>
                                    <li>Разрешены, должны быть привязаны к отдельному профилю на форуме (специальная группа со своими правами доступа)</li>
                                    <li>Управляются основным аккаунтом (в статусе на форуме указан ник владельца)</li>
                                    <li>Не имеют права голоса, не участвуют в рейтингах, не могут участвовать в гос. заказах от своего лица (исключение - ББ за выполнение квестов, но не ивентов: перечисляются на счёт владельца, не получают бонусы и бонусные баллы), и не могут передать их своему владельцу ни при каких обстоятельствах, не участвуют в акциях для игроков, не могут выделять территорию на карте, не имеют сундуков на спауне и в банке (а также в филиалах банков)</li>
                                    <li>В остальном это обычные игроки (могут выполнять квесты (заявка подаётся от лица бота, с использованием сундуков владельца и передачей награды валдельцу), вступать в гильдии, общаться, вступать в кланы, торговать с сервером, плавить от своего имени с использованием личных сундуков владельца)</li>
                                </ul>
                                <p><em>P.S.: в исключительных случаях в некоторых ивентах/мероприятиях может быть разрешено участие мультиаккаунтов и получения вознаграждения на "счёт" владельца (в том числе ББ), о чём будет сообщено отдельным пунктом перед началом ивента (например, соревнования между игроками определённых гильдий).</em></p>
                            </li>
                            <li><h3>Реклама на сервере</h3>
                                <p>По вопросам размещения рекламы сторонних товаров и услуг обращайтесь в скайп к администратору BByaAdmin (VELVET): bbyaworld. С нашим предложением вы можете ознакомиться <a href="http://forum.bbyaworld.com/index.php?/topic/23-reklama-na-servere/">в этой теме</a>.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#chat" aria-expanded="false" aria-controls="chat">
                        Правила общения в игровом чате
                        </a>
                    </h4>
                </div>
                <div id="chat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Правила общения в игровом чате">
                    <div class="panel-body">
                        <p>Понятия "свободы" и "комфортной игры" на нашем сервере проявляется во всем своем многообразии. Однако, есть нюансы.</p>
                        <p>При общении в чате точно запрещены:</p>
                        <ul>
                            <li>Использование верхнего регистра ("капс")</li>
                            <li><a href="http://qps.ru/jFCEv">Нецензурная лексика</a></li>
                            <li><a href="http://qps.ru/x0Zbn">Оскорбление</a></li>
                            <li><a href="http://qps.ru/O0Gmu">Возбуждение ненависти либо вражды</a></li>
                            <li><a href="http://qps.ru/Emyeg">Флуд</a></li>
                            <li>Придирки и замечания к грамматике, орфографии и пунктуации игроков, которые в силу разных причин мало общаются на вашем любимом языке</li>
                            <li><a href="http://qps.ru/EqPw4">Флейм</a> (спор)</li>
                            <li>Явная и <a href="http://qps.ru/02KYs">скрытая реклама</a> чего бы то ни было (кроме "внутриигровой" рекламы, касающейся того и только того, что происходит на нашем сервере)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#forum" aria-expanded="false" aria-controls="forum">
                        Правила общения на форуме
                        </a>
                    </h4>
                </div>
                <div id="forum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Правила общения на форуме">
                    <div class="panel-body">
                        <p>Данный раздел полностью солидарен с правилами общения в чате.</p>
                        <p>Отличия незначительны, но обязательны к исполнению.</p>
                        <ol>
                            <li><h3>Что необходимо знать и соблюдать при общении на форуме:</h3>
                                <ul>
                                    <li>Все те же правила, что и при общении в игровом чате (без исключений)</li>
                                    <li>Учитесь пользоваться <a href="&quot;http:/mc.bbcity.ru/search.php">поиском</a> по форуму (и в <a href="&quot;http:/qps.ru/futnJ">тыртырнете</a>)</li>
                                    <li>Старайтесь пис<span style="text-decoration: underline;">а</span>ть на форуме грамотно и аккуратно, излагать свои мысли <a href="&quot;http:/qps.ru/bUF0c">лаконично</a></li>
                                    <li>Перед созданием новой темы очень желательно проверить наличие обсуждения вашего вопроса (с помощью <a href="&quot;http:/mc.bbcity.ru/search.php">поиска</a> по форуму)</li>
                                    <li>Старайтесь создавать новые темы в тех разделах, которые наиболее полно соответствуют вашему вопросу/предложению</li>
                                    <li>Не забывайте про спойлеры и старайтесь использовать их, когда хотите написать большой объем текста</li>
                                    <li>Также настоятельно рекомендуется выкладывать скрины в виде превью (кроме изображений, любая сторона которых не превышает 300 точек)</li>
                                    <li>Дополнительные правила общения на форуме могут быть прописаны на главной странице под названием соответствующего форума и/или в выделенных темах в соответствующих разделах</li>
                                    <li>Игрокам запрещено "Использовать первый тег как префикс", кроме отдельно оговоренных случаев</li>
                                </ul>
                            </li>
                            <li><h3>Что нельзя делать игрокам на форуме и в игре:</h3>
                                <ul>
                                    <li>Реагировать на сообщения спамеров и случайных обидчиков, истерить по этому поводу (единственное, что можно и нужно сделать, это спокойно написать сообщение в проблемной теме о том, что такой-то пользователь спамит/флудит и т.д. и т.п.)</li>
                                </ul>
                            </li>
                            <li><h3>Разделение прав на форуме:</h3>
                                <ul>
                                    <li>Пользователи, которые вписаны в вайт-лист, состоят в группе "Игроки"</li>
                                    <li>Пользователи, которые могут принимать участие в голосовании, состоят в группе "Граждане"</li>
                                    <li>В группу "Граждане" можно попасть ручками с помощью админа"</li>
                                    <li>Также в группу "Граждане" можно попасть автоматически, написав не менее 15-ти сообщений на форуме + должно пройти не менее 14-и дней со времени регистрации (при условии, что игрок заходил в игру хотя бы 1 раз)</li>
                                    <li>Только "граждане" могут создавать темы и писать сообщения в разделе "Городское собрание"; однако "Игроки" могут читать этот форум (чтобы знать, к чему стремиться)</li>
                                    <li>"Игроки" и обычные пользователи не могут создавать темы в разделе "Законодательный орган" (но "Игроки" могут писать ответы) и не могут принимать участие в голосованиях</li>
                                    <li>Оставлять сообщения без регистрации можно только в разделе "F.A.Q."</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#admin" aria-expanded="false" aria-controls="admin">
                        Обязательства администрации
                        </a>
                    </h4>
                </div>
                <div id="admin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Обязательства администрации">
                    <div class="panel-body">
                        <p><a href="http://mc.bbcity.ru/statistic.php#administration">Админы и модераторы</a> нашего сервера пока еще не совершенны, они только учатся. С вашей помощью, при участии каждого игрока - и только так - мы сможем сделать наш <s>мир</s> сервер лучше. Заранее вам всем и каждому в отдельности огромное спасибо!</p>
                        <ol>
                            <li><h3>В обязанности руководства ресурса входит:</h3>
                                <ul>
                                    <li><a href="http://qps.ru/qOwDk">Управление</a> форумом, игровыми серверами и сайтами</li>
                                    <li>Обеспечение <a href="http://qps.ru/opAkX">порядка</a> во всем, что связано с данным ресурсом</li>
                                    <li>Принятие решений о допуске новых участников к игровому процессу</li>
                                    <li>Нести ответственность за свои поступки перед теми, <s>кого...</s> кто допущен к игровому процессу на основном сервере</li>
                                    <li>Следить за соблюдением описанных здесь правил</li>
                                    <li>Сохранять игровой процесс бесплатным</li>
                                    <li>Признавать свои ошибки</li>
                                </ul>
                            </li>
                            <li><h3>Админы "зуб дают", что постараются:</h3>
                                <ul>
                                    <li>Адекватно реагировать на любые действия/высказывания игроков, внесенных в white-list</li>
                                    <li>Отвечать на любое количество вопросов любого "уровня интеллектуальности", заданных любыми способами (у всего есть предел)</li>
                                    <li>Не ронять сервер</li>
                                    <li>Делать игровой процесс интересным</li>
                                    <li>Поддерживать торжество справедливости</li>
                                    <li>Не ограничивать <a href="http://qps.ru/scW1U">свободу</a></li>
                                    <li>Защищать неприкосновенность внутриигровой <a href="http://qps.ru/3VrXM">частной собственности</a></li>
                                    <li>Всячески способствовать скорейшему решению спорных ситуаций и любых конфликтов, а также принимать <a href="http://qps.ru/y6esz">превентивные меры</a></li>
                                    <li>Постоянно развивать наш сервер и игровой процесс на нём</li>
                                    <li>Предотвратить любые нарушения правил игроком для блага всех участников игрового процесса</li>
                                    <li>Сделать так, чтобы ни у кого и никогда не возникло даже капли сомнения в чёткости, адекватности, честности и справедливости админов (так и запишем)</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#players" aria-expanded="false" aria-controls="players">
                        Ответственность игроков
                        </a>
                    </h4>
                </div>
                <div id="players" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Ответственность игроков">
                    <div class="panel-body">
                        <p>Пока что - на усмотрение админов.</p>
                        <p><i><s>("Да здравствуют наши админы, самые гуманные админы в мире!" &copy; "Кавказская пленница, или Новые приключения Шурика")</s></i></p>
                        <ol>
                            <li><h3>Виды наказаний:</h3>
                                <ul>
                                    <li>Предупреждение</li>
                                    <li>Штраф (по умолчанию все штрафы выплачиваются в пользу администрации)</li>
                                    <li><a href="http://mc.bbcity.ru/viewtopic.php?id=329">Тюрьма</a> (чтобы выйти из тюрьмы, нужно заплатить штраф в изумрудах)</li>
                                    <li><a href="http://mc.bbcity.ru/viewtopic.php?id=328">Бан</a> (на веки вечные, с единственной возможностью вернуться - купить другой лицензионный аккаунт)</li>
                                    <li>Снос построек (к сожалению) за не соблюдение п. 1.6 в части запрета строительства</li>
                                </ul>
                            </li>
                            <li><h3>Что еще необходимо знать и о чем стоит подумать:</h3>
                                <ul>
                                    <li>На нашем сервере не действует <a href="http://qps.ru/qAk7I">презумпция невиновности</a> в отношении игроков (однако, админы, модераторы и <a href="http://qps.ru/h8jvc">ГМ</a> сделают все возможное, чтобы обосновать свою позицию)</li>
                                    <li>На сервере применяются практики "Морского кодекса": сначала исполняются указания админов, и только потом их можно оспаривать</li>
                                    <li>В далёком будущем, когда-нибудь, но со 100% вероятностью произойдет <a href="http://qps.ru/UgLJk">пренеприятнейшая ситуёвина</a> - просьба держать себя в руках, относиться к подобным ситуациям спокойно, с пониманием</li>
                                    <li>Незнание правил не освобождает от ответственности</li>
                                    <li>Для защиты своих территорий некоторые игроки используют сигнализации: если окажешься в радиусе его действия - то попадешь моментально в тюрьму. Обычно такие места ограждают забором и ставят предупреждающие таблички</li>
                                </ul>
                            </li>
                            <li><h3>Право на разбан</h3>
                                <ul>
                                    <li>Доказать свою ангельскую невинность</li>
                                    <li>Платно-индивидуально от 1000 рублей</li>
                                </ul>
                            </li>
                            <li><h3>Договора и расписки</h3>
                                <p>Несоблюдение условий <a href="http://forum.bbyaworld.com/index.php?/topic/291-raspiskidogovora-i-garantii/">внутриигровых договоров</a> приравнивается к нарушению правил сервера и наказывается в соответствии с п. 5.1 правил сервера</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rules">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer">
                        Disclaimer
                        </a>
                    </h4>
                </div>
                <div id="disclaimer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Disclaimer">
                    <div class="panel-body">
                        <p><i>Дискле́ймер (англ. Disclaimer) &mdash; письменный отказ от ответственности за возможные деликатные последствия того или иного поступка в результате действий заявившего данный отказ либо третьих лиц. Под деликатными понимаются любые виды ответственности заявителя.</i></p>
                        <ol>
                            <li><h3>Что такое игра?</h3>
                                <ul>
                                    <li><a href="http://en.wikipedia.org/wiki/Bernard_Suits">Игра &mdash; это добровольное преодоление ненужных препятствий</a> или по-другому "<a href="http://en.wikipedia.org/wiki/Jesse_Schell">активность по решению проблем</a>"</li>
                                    <li>Именно поэтому важно соблюдать описанные здесь правила нашего сервера</li>
                                    <li>Если вы понимаете, что условия игры на нашем сервере вам подходят, тогда добро пожаловать в игру-импровизацию : )</li>
                                </ul>
                            </li>
                            <li><h3>Условия предоставления услуг:</h3>
                                <p>Все услуги предоставляются "<a href="http://qps.ru/FqZzu">как есть</a>" (англ. - "as is").</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer.twig' %}
{% endblock %}
{% block after_html %}
<script>
    // Scroll to top of item when it is opened
    $(function () {
        var isAffix = $(document).width() > 768;
        $('#accordion').on('shown.bs.collapse', function (e) {
            var myEl = $(this).find('.collapse.in').prev();
            $('html, body').animate({
                scrollTop: $(myEl).offset().top - 5 - (isAffix ? 60 : 0)
            }, 200);
        });
    });
</script>
{% endblock %}
