<footer>
    <div class="container">
        <p>&copy; 2011 - &infin; BByaWorld</p>
        <ul class="pull-right links">
            <li><a href="http://www.youtube.com/user/BByaMineCraftServer" target="_blank"><img src="/assets/images/icons/youtube.png" class="icon" /></a></li>
            <li><a href="https://www.facebook.com/groups/BByaMineCraftServer/" target="_blank"><img src="/assets/images/icons/facebook.png" class="icon" /></a></li>
            <li><a href="https://twitter.com/BBya_World" target="_blank"><img src="/assets/images/icons/twitter.png" class="icon" /></a></li>
            <li><a href="http://instagram.com/bbyaworld" target="_blank"><img src="/assets/images/icons/instagram.png" class="icon" /></a></li>
            <li><a href="http://steamcommunity.com/groups/bbyaworld" target="_blank"><img src="/assets/images/icons/steam.png" class="icon" /></a></li>
            <li><a href="http://vk.com/bbyaworld" target="_blank"><img src="/assets/images/icons/vk.png" class="icon" /></a></li>
            <li><a href="skype:bbyaworld?add" target="_blank"><img src="/assets/images/icons/skype.png" class="icon" /></a></li>
        </ul>
    </div>
</footer>
